body{
  padding: 0;
  margin: 0;

  height: 100vh;  
}

.box {
  height: 40px;
  width: 40px;
  /* border: 2px black solid */
}

.bg-primary-2 {
  background-color: tomato;
}

.bg-violet {
  background-color: #712cf9;
}
