body {
  padding: 0;
  margin: 0;

  height: 100vh
  }
.bg-violet {
  background-color: #cc540f;
}
.leftblank{
  padding: 0;
  margin: 0;
  width: 10em;
  height: 10em;
}
.h2{
  align-items: center;
}
.main{
  display: flex;
  flex-direction: row;
}
.bodyPpal{
  display: flex;
  align-items: center;
  
}
.footer{
  display: flex;
  align-items: end;
  margin: 0;
  padding: 0;
}