body {
  padding: 0;
  margin: 0;

  height: 100vh
  }
.bg-violet {
  background-color: #cc540f;
}
.h2{
  align-items: center;
}
.footer{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
#encabezado{
  font-family: cursive;
}
#footer{
  font-family:cursive;
  font-size: x-small;
}
#carouselExample{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1;
}
.contenedorContacto{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1;
}
.contenedorAboutUs{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1;
}